
<header class="sm:w-[430px] h-6 bg-white/8 text-white p-6 rounded-full backdrop-blur-lg sticky lg:top-5 lg:left-[35%] z-10 w-[300px] hidden lg:block ">
    <div class="h-full flex justify-center items-center">
        <nav>
            <ul class="flex flex-row gap-5 justify-center items-center">
                <li class="sm:w-28 sm:p-2 bg-trasparent animated-gradient rounded-full flex justify-center items-center transition-all duration-300"><a href="/">Home</a></li>
                <li class="sm:w-28 sm:p-2 bg-trasparent animated-gradient rounded-full flex justify-center items-center transition-all duration-300"><a href="/movie/">Movies</a></li>
                <li class="sm:w-28 sm:p-2 bg-trasparent animated-gradient rounded-full flex justify-center items-center transition-all duration-300"><a href="/contact/">Contact</a></li>
            </ul>
        </nav>
    </div> 
</header>
